.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

.container .calculator table .color button{
    background-color: #ff7028;
    color: #333;
}

.container .calculator table .color button:hover{
    color: white;
}

input{
    border-radius: 20px;
    /*border: 5px solid #244624;*/
    border: none;
    font-size:34px;
    height: 65px;
    width: 465px;
    box-shadow: 0 .6rem 1rem rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
    background-color: #999;
}
input:hover{
    background-color:   floralwhite;
    color: black;
    border: 2px solid black;
}
button{
    border-radius: 10px;
    font-size: 40px;
    background: #333;
    width: 102px;
    height: 90px;
    margin: 6px;
    text-decoration: none;
    box-shadow: 0 .6rem 1rem rgba(0, 0, 0, 0.8);
    border: none;
    color: white;
}

button:hover{
    color: white;
    background-color: black ;
}



.calculator{ 
    
    background-color: #222;
    padding: 23px;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 0 .7rem 1rem rgba(0, 0, 0, .9);
    
}
